/**
 * Holds all the base styles
 *
 * @author Chintan Kotadia <kotadiachintan@gmail.com>
 */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  position: relative;
  font-family: $body-font-family;
  letter-spacing: normal;
  color: $body-color;
}

a {
  background: transparent;
  color: $link-color;
  transition: 0.5s;
  text-decoration: none;

  &:focus {
    outline: none;
    text-decoration: none;
  }
  &:active, &:hover {
    outline: 0;
    text-decoration: none;
    color: $link-hover-color;
  }
}

img, object, embed {
  max-width: 100%;
}

a img {
  border: none;
}

.svg {
  height: 1em;
}

.text-underline {
  text-decoration: underline;
}

// Heading font sizes
.h5, h5 {
  font-size: 1.6rem;

  @include responsive(md) {
    font-size: 2rem;
  }
}

.container {
  @include responsive(xl) {
    padding: 0 2rem;
  }
}

.fit--cover {
  object-fit: cover;
}
