.carousel__half-slides {
  .carousel-control {
    opacity: 1.0;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 4rem;

    .icon-next,
    .icon-prev {
      &:before {
        content: '';
        background: $color-main-light-pink;
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: calc(50% - 10.8rem);
      }

      &:after {
        top: calc(50% - 9.5rem);
      }
    }

    .icon-next {
      &:before {
        right: -4rem;
      }

      &:after {
        right: -2.4rem;
      }
    }

    .icon-prev {
      &:before {
        left: -4rem;
      }

      &:after {
        left: -2.4rem;
      }
    }
  }

  .carousel-control-prev {
    left: calc(33.3333% / 2);

    @include responsive(md) {
      left: 0;
    }
  }

  .carousel-control-next {
    right: calc(33.3333% / 2);

    @include responsive(md) {
      right: 0;
    }
  }

  .carousel-list {
    position: relative;
    display: block;
    overflow: hidden;
  }

  .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow: visible;
    left: -116.666667%;

    @include responsive(md) {
      left: -50%;
    }

    .carousel-item {
      transition: none;
      transform: none;
      display: block;
      visibility: visible;
      margin-right: 0;
      padding: 0.5rem 0.75rem;

      @include responsive(xl) {
        padding: 0.5rem 1.5rem 0;
      }
    }
  }
}
