/**
 * Holds all the generalize elements styles
 *
 * @author Chintan Kotadia <kotadiachintan@gmail.com>
 */

.price-item {
  font-size: 1.6rem;

  @include responsive(md) {
    font-size: 2rem;
  }
}

.icon-next,
.icon-prev {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    border-right: solid 0.2rem $color-main-ui-cta;
    border-top: solid 0.2rem $color-main-ui-cta;
    transform: rotate(45deg);
    width: 1.6rem;
    height: 1.6rem;
  }
}

.icon-prev {
  &:after {
    transform: rotate(225deg);
  }
}
